<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/contacts.html">Contacts</a>
        </li>
        <li>
          <a href="/about.html">About</a>
        </li>
      </ul>
    </nav>
    <h1>Contacts</h1>
    <ul>
      <li>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ipsa
        libero harum minima commodi reiciendis quisquam doloremque animi.
        Nostrum, neque!
      </li>
      <li>
        Laboriosam nemo molestias atque aspernatur doloremque molestiae quia
        accusantium! Blanditiis aut nihil et vel id debitis illo velit libero
        nobis?
      </li>
      <li>
        Suscipit tempora beatae, cumque sapiente temporibus aliquid id ipsum
        adipisci veniam libero numquam voluptatem eaque nobis ab omnis in
        corporis.
      </li>
      <li>
        Nesciunt dolore animi tempora provident, quae voluptate consectetur
        fugiat dolorem, aliquid in quidem quia omnis voluptatem nulla, quaerat
        placeat expedita?
      </li>
      <li>
        Unde ut culpa sunt blanditiis sint odio eaque quisquam, nam magnam ex
        soluta omnis dolore, hic repudiandae doloribus ducimus odit?
      </li>
    </ul>
  </body>
</html>
